// --- Palette --- //
$white : hsl(0,0,100%);
$black : hsl(0,0,0%);
$paleGrey : hsl(195, 9%, 91%);
$mediumGrey : hsl(210, 15%, 75%);
$charcoalGrey : hsl(0, 0%, 39%);
$blueGrey : hsl(198, 14%, 82%);
$mediumBlue : hsl(205, 74, 18%);
$seaBlue : hsl(195, 39%, 47%);
$skyBlue : hsl(191, 80%, 76%);
$mediumTurquoise : hsl(196, 67%, 30%);
$turquoiseHighlight : hsl(183, 76%, 62%);
$burntOrange :hsl(27, 53%, 62%);
$coral : hsl(357, 44%, 71%);
$frogGreen : hsl(117, 28%, 56%);
$warningRed : #d47779;
$greyBlue : hsl(200, 19%, 69%);

// --- Main Layout Colours --- //
$mainTextColour : darken($charcoalGrey, 5%);
$backgroundColour : $paleGrey;
$gradientColour1 : $mediumBlue;
$gradientColour2 : $mediumTurquoise;

// --- Fonts --- //
$headerFont--regular : 'montserratregular', sans-serif;
$bodyFont--condensed : 'robotocondensed', sans-serif;
$bodyFont--regular : 'robotoregular', sans-serif;
$bodyFontSize : 1.3rem;

$headerHeight : 10rem;

// --- Buttons --- //
$buttonTextColour : $white;
$buttonBGColour : $seaBlue;
$buttonHeight : 3.6rem;
$buttonHoverBackgroundColour : lighten($seaBlue, 45%);

// --- Shadows --- //
$boxShadow1 : 0px 2px 5px 0px rgba(0,0,0,0.15);

// --- Transitions --- //
$transition1 : all 0.3s ease-in-out;
$whiteoutColour : $backgroundColour;

$mainSpinnerColour : $mediumTurquoise;

// --- Modals --- //
$modalOverlayBGColour : transparentize(hsl(199, 20%, 40%), 0.2);
$modalContainerWidth : 94vw;
$modalContainerMaxWidth : 80rem;
$modalContainerMinHeight : 43rem;
$modalHeaderHeight: 5rem;
$modalFormElementsContainerWidth--0-plus : 80%;
$modalFormElementsContainerWidth--sm-plus : 40%;
$modalFooterHeight: 7rem;
$modalBackgroundColor : $white;
$modalHeaderFont-size : 1.8rem;
$modalHeaderTextColour : $mediumBlue;
$modalHeaderWarningColour : $warningRed;
$modalHeaderBackgroundColour : lighten($backgroundColour, 3%);
$modalFooterBackgroundColour : lighten($backgroundColour, 3%);

$closeIcon : 'modal-close.svg';

// --- Standard Border --- //
$borderColour1 : $mediumGrey;
$border1 : $borderColour1 1px solid;

$borderColour2 : $paleGrey;
$border2 : $borderColour2 1px solid;

// --- Border Radius --- //
$borderRadius1 : 0.6rem;